.all{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(185, 212, 212);
}

.calcbody{
    display:flex;
    flex-wrap:wrap;
    height: 500px;
    width: 350px;
    border: none;
    margin-top: 150px;
    border-radius:10px;
    background-color: dimgray;

    box-shadow: rgba(0, 0, 0, 0.4) 0px 8px 16px, rgba(0, 0, 0, 0.3) 0px 10px 16px -5px, rgba(0, 0, 0, 0.2) 0px -5px 0px inset;
}

.display{
    height: 125px;
    width: 325px;
    margin-top: 25px;
    margin-left: 25px;
    margin-right:25px;
    margin-bottom: 0px;
    outline: 2px solid black;
    border-radius: 4px;
    background-color:rgb(228, 240, 240);
    text-align: right;
    font-size: 32px;
    font-family: monospace;

    box-shadow: rgb(74, 74, 75) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}

.output{
    margin-right: 10px;
    margin-top: 50px;
}

.buttons{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap:wrap;
    height: 325px;
    width: 325px;
    margin-top: 0px;
    margin-left:25px;
    margin-right:25px;
    background-color: dimgray;
    
}

input{
    text-decoration: none;
    padding: 10px 30px;
    border: 1px solid black;
    border-radius: 4px;
    cursor: pointer;
    transition-duration: 0.2s;
    background-color:ghostwhite;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 2px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

input:hover{
    background-color: rgb(207, 204, 204);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 2px, rgba(0, 0, 0, 0.3) 0px 7px 13px -5px, rgba(0, 0, 0, 0.2) 0px -5px 0px inset;
}

#operator,#equals,#decimal{
    background-color: peru;
    transition-duration: 0.2s;
}

#operator:hover{
    background-color: rgb(207, 118, 29);
}

#equals:hover{
    background-color: rgb(207, 118, 29);
}

#decimal:hover{
    background-color: rgb(207, 118, 29);
}

#clear{
    padding: 20px 60px;
    background-color: rgb(245, 215, 175);
    transition-duration: 0.2s;
}
#clear:hover{
    background-color: rgb(238, 184, 114);
}

#delete{
    padding: 20px 60px;
    background-color: rgb(153, 84, 84);
    transition-duration: 0.2s;
}

#delete:hover{
    background-color: rgb(109, 53, 53);
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 75px;
    font-size: 24px;
    font-family: monospace;
}
